*
  box-sizing: border-box
  
body
  outline: none
  font-family: 'Roboto', sans-serif

img
  max-width: 100%

.container
  max-width: 1200px
  margin: auto

.section
  padding: 30px 0
  padding-bottom: 100px
  &-title 
    font-size: 41px
    font-weight: 700
    line-height: 46px
    color: $text-color
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: -24px
      z-index: -1
      display: block
      width: 92px
      height: 3px
      background-color: $line-color

.button
  outline: none
  border-radius: 25px
  border: none 
  padding: 19px 37px
  font-size: 14px
  font-weight: bold
  text-transform: uppercase
  &:hover
    cursor: pointer
    box-shadow: 0 0 5px darken($secondary-color, 20%)

.input
  border: 1px solid $border-input
  border-radius: 25px
  padding: 19px 37px
  font-size: 15px
  outline: none
  &:focus
    box-shadow: 0 0 5px lighten($secondary-color, 10%)
    border-radius: 25px

@media (max-width: 1250px)
  .container
    max-width: 1180px
    width: 95%

@media (max-width: 768px)
  .container
    max-width: 750px
  .section
    &-title 
      font-size: 36px
      line-height: 1
  .button
    padding: 15px 20px
    font-size: 12px
  .input
    padding: 15px 20px
    font-size: 12px

@media (max-width: 568px)
  .container
    max-width: 550px
    width: 90%
  .section
    &-title 
      font-size: 25px
      margin: 10px 0
      &:after
        content: ''
        bottom: -14px
