.navbar
  &-block 
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 17px
    padding-bottom: 25px
  &__main 
    padding-bottom: 33px
  &__logo
    padding-right: 45px
  &-list 
    display: flex
    justify-content: space-between
    padding: 0
    font-size: 14px
    font-weight: 700
    list-style: none
    text-transform: uppercase
    &__item 
      position: relative
      margin-right: 35px
      padding-top: 23px
      padding-bottom: 14px
      &:last-of-child
        margin-right: 0px
      &:hover 
        color: $secondary-color
        cursor: pointer
        a 
          color: $secondary-color
        &:after
          content: ''
          position: absolute
          bottom: -4px
          left: 13%
          z-index: -1
          display: block
          width: 70%
          height: 2px
          background-color: $secondary-color !important
          transition: 0.2s  
      a 
        text-decoration: none
        color: $text-color
  &-call
    padding-top: 10px
    padding-bottom: 2px
  &__button
    width: 45px
    height: 45px
    padding: 0
    border-radius: 50%
    border: none
    background-color: #fff
    outline: none
    cursor: pointer


@media (max-width: 1100px)
  .navbar
    &-list
      &__item
        margin-right: 15px

@media (max-width: 980px)
  .navbar
    &-menu
      display: none

@media (max-width: 768px)
  .navbar
    &-block 
      padding-top: 5px
      padding-bottom: 20px

@media (max-width: 600px)
  .navbar
    &__logo
      max-width: 300px

@media (max-width: 450px)
  .navbar
    &__logo
      max-width: 250px
    &-call
      max-width: 35px
    &__button
      width: 35px
      height: 35px
